<!--Main body-->
    <main class="container  mt-3">

        <h3 class="text-center">Add new post</h3>
        <hr />

        <form enctype="multipart/form-data" method="post">
            <div class="container mt-3 custom-input">
                <label for="Title" class="form-label">Post title</label>
                <div class="input-group mb-3">
                    <input id="Title" type="text" class="form-control">
                </div>                
                <span for="Title" class="text-danger"></span><br>

                <label for="Body" class="form-label">Post body</label>
                <div class="input-group mb-3">
                    <textarea id="Body" class="form-control" rows="5"></textarea>
                </div>
                <span for="Body" class="text-danger"></span><br>

                <label for="Photo" class="form-label">Post photo</label>
                <div class="input-group mb-3">
                    <input id="Photo" accept="image/*" type="file" class="form-control">
                </div>
            </div>

            <div class="button-group">
                <a class="btn btn-dark">Cancel</a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </main>
